################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Assignment_Framework/VS2017/.vs/COMP 371 - Assignment/v16/Browse.VC.opendb
